apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: machine-node-linker
  name: machine-node-linker-metrics-service
  namespace: system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: machine-node-linker
